.hero-unit
  %p Algo aqui depois

.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#rodada"} Rodada
    %li
      %a{"data-toggle" => "tab", :href => "#2"} Section 2
  .tab-content
    #1.tab-pane.active
      %p I'm in Section 1.
    #2.tab-pane
      %p Howdy, I'm in Section 2.