.hero-unit
  %p Algo aqui depois


.row-fluid
  #rodada.span3
    = ajax_loader
  .span9
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#rodada", "data-content" => "rodada"} Rodada
        %li
          %a{"data-toggle" => "tab", :href => "#2"} Section 2
      .tab-content
        #pane.tab-pane.active
          %p