%style
  :plain
    span { display: block; margin-top: 5px; }   

.hero-unit
  %h1 Regulamento
  %p Nós Gustavo Seganfredo Farias e Maurício Seganfredo Farias aprovamos o seguinte regulamento:

%h3 1. DISPOSIÇÕES PRELIMINARES
%blockquote
  %span <b>1.1</b> O presente regulamento determina as regras a que os participantes do Bolão do Brasileirão se submetem ao fazer parte dessa competição.
  %span <b>1.2</b> O Bolão consistirá em apostas diversas realizadas de acordo com o Campeonato Brasileiro de futebol.
  %span <b>1.3</b> Tanto o regulamento como o controle das apostas e os resultados do Bolão estarão acessíveis aos participantes do Bolão através do site: [a definir] e do aplicativo [a definir].
  %span <b>1.4</b> Eventuais alterações nesse regulamento poderão ser realizadas desde que de comum acordo entre os participantes.

%h3 2. PONTUAÇÃO
%blockquote
  %span <b>2.1</b> - O participante somará pontos de 2 formas: ao responder aos placares dos jogos de cada rodada, e ao término do primeiro turno e do campeonato ao responder as perguntas especiais.
  %span
    <b>2.2</b> - Placares dos jogos:
    %ul
      %li 6 Pontos: Para o placar exato do jogo
      %li 4 Pontos: Para quem acertar o time vencedor e o número de gols de um dos times.
      %li 3 Pontos: Para quem acertar o resultado (não o placar)
      %li 1 Ponto: Para quem não acertar o vencedor, mas acertar o número de gols de um dos times.
  %span
    <b>2.3</b> - Perguntas Especiais:
    %blockquote
      %span
        <b>2.3.1</b> - Perguntas do Primeiro Turno:
        %ul
          %li Classificação completa: 3 pontos para cada acerto de time na sua posição exata, e 5 pontos para o acerto do campeão do turno.
          %li Artilheiro e Vice: 3 pontos para o acerto do vice artilheiro e 5 pontos para acerto do artilheiro.
      %span
        <b>2.3.2</b> - Perguntas do Campeonato:
        %ul
          %li Classificação completa: 4 pontos para cada acerto de time na sua posição exata, e 10 pontos para o acerto do campeão.
          %li
            Artilheiro e Vice: 4 pontos para o acerto do vice artilheiro e 8 pontos para acerto do artilheiro.
            %br
            * Caso o jogador indicado pelo participante como artilheiro seja o vice artilheiro, ou o vice artilheiro seja o artilheiro, o participante receberá 3 pontos.
          %li Equipe com melhor ataque: 6 pontos
          %li Equipe com pior defesa: 6 pontos
          %li 
            Seleção bola de prata do campeonato: 3 pontos por jogador que fique em 2° ou 3° melhor da sua posição e 5 para aquele que seja o melhor da sua posição.
            %br
            * A base para a pontuação nessa categoria será a Seleção Bola de Prata da Revista Placar, que inclui as seguintes premiações: melhor goleiro, melhor lateral direito, melhor zagueiro, melhor lateral esquerdo, melhor volante, melhor meio-campo, melhor atacante e o bola de ouro (melhor jogador no geral)
        %span * Para as respostas que envolvam jogadores, cada participante do bolão devera escolher um jogador titular e um reserva, que poderá ser utilizado caso o titular: seja vendido em meio ao campeonato a um time de fora da série A, sofra lesão que o afaste de pelo menos 40% dos jogos do campeonato, se aposente ou morra em meio ao campeonato.
    %span * Em caso de empate quanto aos artilheiros ou equipes com melhor ataque e pior defesa serão considerados para fins de pontuação todos os empatados.

%h3 3. APOSTAS
%blockquote
  %span <b>3.1</b> - As apostas serão feitas via internet e poderão ser realizadas até o exato horário de inicio programado para a primeira partida da rodada.
  %span <b>3.2</b> - Para rodadas que tenham algum jogo adiantado, esse jogo será desconsiderado.
  %span <b>3.3</b> - O participante que não efetuar suas apostas até o horário estabelecido, perderá o direito de apostar em todos os jogos da rodada, inclusive aqueles cujo dia e horário forem diferentes do primeiro jogo da rodada.
  %span <b>3.4</b> - Em caso de eventuais problemas no sistema de apostas, a solução será decidida de comum acordo entre os participantes.
  %span <b>3.5</b> - As respostas das perguntas especiais serão entregues simultaneamente pelos dois participantes durante a cerimonia de abertura do bolão, a ser realizada no dia (ou na véspera) da abertura do campeonato.

%h3 4. PRÊMIOS
%blockquote
  %span <b>4.1</b> - A premiação ocorrerá dentro de seis categorias de troféus, para cada uma delas serão estabelecidas diferentes formas de prêmios, de acordo com a relevância de cada troféu, esses prêmios se dividirão em 4 categorias.
  %blockquote
    %span <b>4.1.1</b> - Premio Máximo: Pizza Hut Grande de Quatro Queijos com Borda Recheada de Requeijão + Pizza Pequena de Brigadeiro + Pepsi 2 litros + Taxa de Entrega, além do Troféu Oficial do Bolão e da Medalha.
    %span <b>4.1.2</b> - Prêmio Grande: Uma refeição a escolha do participante vencedor a ser realizada pelo outro participante.
    %span <b>4.1.3</b> - Prêmio Médio: Produto a ser escolhido pelo participante vencedor que não supere o valor de R$ 10,00 nem seja de valor inferior a R$ 7,00.
    %span <b>4.1.4</b> - Prêmio Pequeno: Produto a ser escolhido pelo participante vencedor que não supere o valor de R$ 3,00 nem seja de valor inferior a R$ 2,00.
    %span * A refeição a que se refere o prêmio grande inclui: 1 aperitivo, 1 refeição completa com bebida e sobremesa além do entretenimento. Todos esses itens serão escolhidos pelo vencedor do prêmio. O outro participante será incumbido do serviço de ida ao supermercado, preparação da comida, colocação e retirada da mesa.
    %span * O prêmio grande será o único que o perdedor não precisará pagar integralmente com seu dinheiro, sendo-lhe facultado o uso do dinheiro das compras do rancho da família.

%h3 5. TROFÉUS:
%blockquote
  %span
    <b>5.1</b> - Serão seis os tipos de troféus que estarão em jogo durante o andamento do Bolão do Brasileirão, serão eles:
    %blockquote
      %span <b>5.1.1</b> - Troféu Campeão do Bolão: Para aquele que obtiver mais prêmios na soma total do campeonato, incluindo a pontuação dos jogos e das perguntas especiais. O vencedor desse troféu receberá como premiação o prêmio máximo. 
      %span <b>5.1.2</b> - Troféu Campeão de Turno do Bolão: Troféu do primeiro turno para quem obtiver mais pontos nos jogos e nas perguntas do primeiro turno. Troféu do segundo turno para quem obtiver mais pontos apenas nos jogos do segundo turno. O vencedor de cada um desses troféus receberá como premiação o prêmio grande.
      %span <b>5.1.3</b> - Troféu das 3, 5 e 7 rodadas seguidas: Para quem vencer 3, 5 ou 7 rodadas seguidas. Para 3 rodadas seguidas o vencedor receberá um prêmio pequeno, para 5 rodadas seguidas o vencedor receberá um prêmio médio e para 7 rodadas seguidas o vencedor receberá um prêmio grande.
      %span <b>5.1.4</b> - Troféu Dupla Gre-Nal: Dividido em Troféu Dupla Gre-Nal do 1° turno, Troféu Dupla Gre-Nal do 2° Turno e Troféu Dupla Gre-Nal do Campeonato, será entregue para quem obtiver maior pontuação somando-se apenas a pontuação de jogos em que participem Grêmio e Internacional. Para os vencedores dos Troféus do turno, o prêmio será o médio. Para o vencedor do Troféu do Campeonato o prêmio será o grande.
      %span <b>5.1.5</b> - Troféu Gato Mestre: Dividido em Troféu Gato Mestre do Campeonato para aquele que acertar mais placares exatos em todo o campeonato, e em Troféu Gato Mestre das rodadas para aquele que obtiver mais placares exatos em cada grupo de 3 rodadas. O vencedor do Troféu Gato Mestre do Campeonato receberá um prêmio médio, enquanto o vencedor do Troféu Gato Mestre das Rodadas receberá um prêmio pequeno. 
      %span * o primeiro prêmio será entregue para quem tiver mais placares exatos nas rodadas de 1 e 2, para que seja possível a divisão das outras 36 rodadas em 12 grupos.
      %span <b>5.1.6</b> - Troféu Conhecedor de Futebol: oferecido para aquele que obtiver melhor pontuação nas perguntas especiais. O vencedor receberá um prêmio médio.
  %span
    <b>5.2</b> Critérios de Desempate
    %blockquote
      %span 
        <b>5.2.1</b> - Desempate para o vencedor de cada rodada e do Troféu Dupla Gre-Nal:
        %ul
          %li 1° - Maior quantidade de acertos de placares exatos dos jogos. 
          %li 2° - Maior quantidade de acertos do time vencedor ou empate dos jogos. 
          %li 3° - Maior quantidade de acertos no número de gols da equipe vencedora. 
          %li 4° - Maior quantidade de acertos no número de gols da equipe perdedora. 
          %li 5° - Sorteio
      %span
        <b>5.2.2</b> - Desempate para vencedor do turno e do campeonato:
        %ul
          %li 1° - Maior quantidade de acertos de placares exatos dos jogos. 
          %li 2° - Maior quantidade de pontos em jogos da dupla Gre-Nal. 
          %li 3° - Maior quantidade de pontos na ultima rodada do turno/campeonato. 
          %li 4° - Sorteio
      %span
        <b>5.2.3</b> - Desempate para o vencedor do Troféu Gato Mestre do Campeonato:
        %ul
          %li 1° - Maior quantidade de placares exatos em jogos da dupla Gre-Nal. 
          %li 2° - Maior quantidade de placares exatos em jogos do campeão.
          %li 3° - Maior quantidade de placares exatos em jogos do ultimo colocado.
          %li 4° - Sorteio
          %li Em caso de empate no Troféu Gato Mestre das Rodadas não será atribuída nenhuma premiação.
      %span
        <b>5.2.4</b> - Desempate para o Troféu Conhecedor de Futebol:
        %ul
          %li 1° - Maior quantidade de acertos na seleção bola de prata.
          %li 2° - Acerto do Bola de Ouro.
          %li 3° - Acerto do Artilheiro.
          %li 4° - Acerto do Goleiro.
          %li 5° - Sorteio.

%h3 6. PRAZO PARA ENTREGA DE PRÊMIOS
%blockquote
  %span <b>6.1</b> - O prazo para entrega dos prêmios pequeno e médio será de no máximo 7 dias contados a partir do horário do término do último jogo da rodada que determinou esta premiação.
  %span <b>6.2</b> - O prazo para entrega do prêmio grande será de 14 dias contados a partir do horário do término do último jogo da rodada que determinou esta premiação.
  %span <b>6.3</b> - Os prêmios conquistados na 38ª e última rodada do campeonato serão todos entregues na cerimonia de encerramento do Bolão do Brasileirão em data a ser estabelecida de comum acordo entre os participantes.
  %span <b>6.4</b> - O participante que não cumprir os prazos estabelecidos neste regulamento receberá uma multa de atraso, que será equivalente a um prêmio pequeno para a primeira semana de atraso e um premio médio para o caso de duas semanas de atraso.

%h3 7. SITUAÇÕES ESPECIAIS
%blockquote
  %span <b>7.1</b> - Jogos que tenham suas datas alteradas e forem realizados fora de suas rodadas previstas não serão considerados para pontuação, sendo assim o apostador deverá anular sua aposta, deixando o placar em branco.
  %span <b>7.2</b> - Jogos que tenham seu resultado e/ou placar alterados em função de irregularidades no campeonato: caso a premiação da rodada referente ao jogo já tenha sido apurada, não haverá alteração em seu resultado. Para o ranking de 1° ou 2° turno e para o ranking final, serão desconsiderados os pontos obtidos no placar original do jogo e serão atribuídos pontos máximos (6) para todos os participantes que forneceram respostas para aquele jogo. 

%h3 8. DISPOSIÇÕES FINAIS
%blockquote
  %span
    <b>8.1</b> - Segundo esse regulamento, estarão em jogo durante todo o bolão os seguintes prêmios:
    %blockquote
      %span <b>8.1.1</b> - Espalhados pelas 38 rodadas do campeonato: até 13 prêmios pequenos correspondentes ao Troféu Gato Mestre das Rodadas. Além dos eventuais prêmios pequenos, médios e grandes correspondentes ao Troféu das 3, 5 e 7 Rodadas Seguidas.
      %span <b>8.1.2</b> - Ao término do primeiro turno: 1 prêmio grande para o vencedor do Troféu do 1° Turno e um prêmio médio para o vencedor do Troféu Dupla Gre-Nal do 1° Turno.
      %span <b>8.1.3</b> - Ao término do segundo turno e do campeonato: 3 prêmios médios divididos entre os vencedores do troféu gato mestre do Campeonato, Troféu Dupla Gre-Nal do 2° Turno e do Troféu Conhecedor de Futebol. 2 Prêmios grandes para os vencedores do Troféu do 2° Turno e do Troféu Dupla Gre-Nal do Campeonato. E por fim 1 prêmio máximo para o Vencedor do Troféu Campeão do Bolão.
  %span <b>8.2</b> - Para o Campeão do Bolão será concedida a medalha de campeão (a qual ficará para sempre com ele) e também o Troféu de Campeão, que será passado ano após ano para o campeão atual do bolão até que alguém atinja o tricampeonato seguido ou então o pentacampeonato em anos alternados.
  %span <b>8.3</b> - Todas as despesas, tais como a compra de troféus e medalhas, serão divididas entre os participantes do Bolão.