.tabbable
  %ul.nav.nav-pills
    %li.active
      %a{"data-toggle" => "tab", :href => "#1_turno"} 1ยบ turno
    %li
      %a{"data-toggle" => "tab", :href => "#2_turno"} 2ยบ turno
  .tab-content
    #1_turno.tab-pane.active
      %ol.sortable.standing
        - @standings.find_all_by_round(0).each do |pos|
          %li{:ref => pos.club.id}
            %p
              = image_tag pos.club.logo
              = pos.club.popular_name
    #2_turno.tab-pane
      %ol.sortable.standing
        - @standings.find_all_by_round(1).each do |pos|
          %li{:ref => pos.club.id}
            %p
              = image_tag pos.club.logo
              = pos.club.popular_name

:coffeescript
  $(".sortable").sortable stop: (event, ui) ->
    s = ($(num).attr 'ref' for num in ui.item.parent().children 'li')

  $("#sortable").disableSelection()