// Place all the styles related to the apostas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here:  http: //sass-lang.com/

img#user_photo
  outline: 1px solid #777
  margin-right: 10px
  width: 20px
  float: left


#rodada

  /**************************************************/
  /*                Aposta/rodada                   */
  /**************************************************/

  .jogo
    text-align: center

    input
      width: 20px
      text-align: center
      font-size: 120%
      font-weight: bold
      font-family: arial

    .placar div
      display: inline

    .placar div img
      margin: 0px 10px -7px 10px
    
    .info
      margin-left: 0px
      width: 100%
      font: 10px arial
      color: #999
      letter-spacing: -0.4
      padding-top: 8px

  /**************************************************/
  /*              Aposta/classificacao              */
  /**************************************************/

  .tab-content
    ol
      font-size: 20px
      padding-left: 15px

    ol p
      padding: 5px 0
      color: black
      font-size: 20px

    img
      vertical-align: middle

    ol li
      height: 50px
      width: 330px
      background: #fff
      margin-left: 40px
      padding-left: 10px
      cursor: pointer

    ol li:nth-child(-n+4) 
      color: green

    ol li:nth-child(n+15)
      color: red

    li:nth-child(-n+11)
      margin-left: 0em

    li:nth-child(n+11)
      margin-left: 20em

    li:nth-child(11)
      margin-top: -25em